<!DOCTYPE html>
<html>
<head>
    <title>10 Green Bottles</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300i" rel="stylesheet" />
    <style type="text/css">
        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-style: italic;
            text-align: center;
        }
    </style>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="numberToWords.min.js"></script>
</head>
<body>
    <div id="app">
        <div id="inputs">
            <label>Quantity</label>
            <input type="number" v-model="quantity" required>

            <label>Colour</label>
            <input type="text" v-model="colour">

            <label>Object</label>
            <input type="text" v-model="object">

            <label>Verb</label>
            <input type="text" v-model="verb">

            <label>Location</label>
            <input type="text" v-model="location">

            <label>Accident</label>
            <input type="text" v-model="accident">
        </div>

        <hr>

        <template v-for="i in numArray">
            <p>
                {{ i + 1 | toWords | capitalise }} {{ colour }} {{ objectDescription(i + 1) }} {{ verb }} on the {{ location }},<br>
                {{ i + 1 | toWords | capitalise }} {{ colour }} {{ objectDescription(i + 1) }} {{ verb }} on the {{ location }},<br>
                And if one {{ colour }} {{ object }} should accidentally {{ accident }},<br>
                There'll be {{ i | toWords }} {{ colour }} {{ objectDescription(i) }} {{ verb }} on the {{ location }}.
            </p>
        </template>
    </div>

    <script src="app.js"></script>
</body>
</html>
